
.title-container {
    width: 100%;
    height: 100%;
}

.bg-image {
    background-image: url("/public/media/RMELogo300-2-ver-4.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    padding-bottom: 90%;
    background-size: cover;
}