
.title-container {
    width: 100%;
    margin: auto;
}

.bg-image {
    background-image: url("/public/media/RMELogo300-2-ver-2.png");
    padding: 1em;
    background-repeat: no-repeat;
    background-position: center;

    height: 0;
    width: 100%;
    padding-bottom: 50%;
    background-size: cover;
    object-fit: contain;
    

}